<mat-card class="cardWithShadow" @fadeInOut>
  <mat-card-content>
    <mat-card-title class="m-b-10">Cambiar contraseña</mat-card-title>

    <div style="margin: 1.5rem auto;">
      <form [formGroup]="form" (ngSubmit)="changePassword()" class="mt-4">
        <mat-form-field appearance="outline" class="w-100 mb-3" style="margin-bottom: 0.7rem;">
          <mat-label>Contraseña actual</mat-label>
          <input matInput type="password" formControlName="currentPassword" />
          <mat-error *ngIf="f.currentPassword.errors?.['required']">
            Campo requerido
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="w-100 mb-3" style="margin-bottom: 0.7rem;">
          <mat-label>Nueva contraseña</mat-label>
          <input matInput [type]="passwordFieldType" formControlName="newPassword" minlength="6"/>
          <!-- <button mat-icon-button matSuffix type="button" (mousedown)="showPassword()" (mouseup)="hidePassword()"
            (mouseleave)="hidePassword()">
            <mat-icon>visibility</mat-icon>
          </button> -->
          <mat-error *ngIf="f.newPassword.errors?.['required']">
            Campo requerido
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="w-100 mb-3" style="margin-bottom: 0.7rem;">
          <mat-label>Confirmar nueva contraseña</mat-label>
          <input matInput [type]="passwordFieldType" formControlName="confirmPassword" minlength="6"/>
          <button mat-icon-button matSuffix type="button" (mousedown)="showPassword()" (mouseup)="hidePassword()"
            (mouseleave)="hidePassword()">
            <mat-icon>visibility</mat-icon>
          </button>
          <mat-error *ngIf="f.confirmPassword.errors?.['required']">
            Campo requerido
          </mat-error>
        </mat-form-field>
  
        <button mat-flat-button color="primary" class="w-100 mt-3" type="submit" [disabled]="form.invalid">
          Cambiar contraseña
        </button>
      </form>
    </div>
  </mat-card-content>
</mat-card>