<h2 mat-dialog-title>Editar datos del indicador</h2>
<mat-dialog-content class="p-t-4">
  <form [formGroup]="editForm" (ngSubmit)="onSave()" class="form-container">
    <!-- VALOR -->
    <mat-form-field appearance="outline" class="w-100 m-t-4">
      <mat-label>Valor</mat-label>
      <input matInput formControlName="value" type="number" required>
      <mat-error *ngIf="editForm.get('value')?.hasError('required')">El valor es requerido.</mat-error>
      <mat-error *ngIf="editForm.get('value')?.hasError('min')">El valor debe ser mayor o igual a 0.</mat-error>
    </mat-form-field>
    
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="editForm.invalid">Guardar</button>
</mat-dialog-actions>