
.reports-carousel-container {

  h4 {
    margin-bottom: 8px;
    font-weight: 500;
  }
}

.reports-carousel {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 28px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }
}

.report-card {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 250px;
  // height: 250px;
  background: var(--card-bg);
  border: 1px solid var(--mat-sys-outline);
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  
  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.15);
  }

  &.selected {
    border: 2px solid #008cff;
    box-shadow: 0 6px 20px rgba(25, 124, 216, 0.336);
  }

  .report-card-header {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    background-color: var(--mat-sys-primary);
  }

  h2 {
    margin: 0;
  }

  .report-card-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    mat-chip {
      font-size: 12px;
      max-width: 100%;
    }

  }
}

::ng-deep .mat-mdc-card {
  margin-bottom: 5px !important;
}

.form-container {
  padding: 4px;
  margin: auto 0; 

  .submit-button {
    margin-top: 16px;
    width: 100%;
  }
}

.no-reports-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  background-color: var(--card-bg-variant);
  border-radius: 8px;
  margin-top: 16px;
}