<mat-card class="cardWithShadow" @fadeInOut>

  <mat-card-content>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
      <span style="font-size: 1.125rem; font-weight: 600;">Nuevo indicador</span>

    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-4 d-grid gap-8 max-w-xl mx-auto">
      <!-- CLAVE -->
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Clave</mat-label>
        <input matInput formControlName="key" required>
        <mat-error *ngIf="form.get('key')?.hasError('required')">La clave es requerida.</mat-error>
      </mat-form-field>

      <!-- NOMBRE INDICADOR -->
      <mat-form-field appearance="outline" class="w-100 ">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="form.get('name')?.hasError('required')">El nombre es requerido.</mat-error>
      </mat-form-field>

      <!-- DESCRIPCION -->
      <mat-form-field appearance="outline" class="w-100 ">
        <mat-label>Descripción (opcional)</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      <!-- META -->
      <mat-form-field appearance="outline" class="w-100 ">
        <mat-label>Meta</mat-label>
        <input matInput type="number" formControlName="goal" required>
        <mat-error *ngIf="form.get('goal')?.hasError('required')">Campo requerido.</mat-error>
        <mat-error *ngIf="form.get('goal')?.hasError('min')">La meta debe ser un número positivo.</mat-error>
      </mat-form-field>

      <!-- DEPARTAMENTOS -->
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Departamentos</mat-label>
        <mat-select formControlName="departments" multiple>
          <mat-option *ngFor="let dept of departments" [value]="dept._id">{{ dept.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('departments')?.hasError('required')">Seleccione al menos un departamento.</mat-error>
      </mat-form-field>

      <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Crear Indicador</button>
    </form>
  </mat-card-content>
</mat-card>